{% extends "../base/base.html" %}

{% block content %}
    <div class="content">
        <header class="recent-posts">
            <h1>Recent Posts:</h1>
            <hr>
        </header>
        <div class="order-filter">
            <form method="get" action="{{ request.path }}">
                <div class="order-form">
                    <label>
                        Order by:
                        <br>
                        {% for ordering in orderings %}
                            {% if not user_posts_only or ordering.2 %}
                                <label>
                                    <input type="radio" name="orderby"
                                           value="{{ ordering.0 }}"
                                            {% if orderby == ordering.0 %}
                                           checked
                                            {% endif %}
                                    >
                                    {{ ordering.1 }}
                                </label>
                            {% endif %}
                        {% endfor %}
                    </label>
                </div>
                <div class="filter-form">
                    <label>
                        Filter by tag:
                        <br>
                        <select multiple name="filter_tag" class="tag-select" size="3">
                            {% for tag in tags %}
                                <option
                                        value="{{ tag.name }}"
                                        {% if tag.name in tag_filters %}
                                        selected
                                        {% endif %}
                                >
                                    {{ tag.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <button>OK</button>
                </div>
            </form>
        </div>
        <main class="posts">
            {% for post in posts %}
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h1>
                                <a href="{% url "view_post" post_id=post.id %}" class="post-title-link">
                                    {{ post.title }}
                                </a>
                            </h1>
                            Tags:
                            {% ifnotequal post.tags.count 0 %}
                                {{ post.tags.all|join:', ' }}
                            {% else %}
                                <i>none</i>
                            {% endifnotequal %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col post-text">
                            {{ post.content|truncatechars_html:500|safe }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Author: <span class="author">{{ post.author }}</span>
                        </div>
                        <div class="col">
                            Published: {{ post.post_date }}
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
            {% if is_paginated %}
                {% load url_replace %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li>
                            <a class="page-link" href="?{% url_replace request 'page' page_obj.previous_page_number %}">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="page-item active"><span class="page-link disabled">{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a class="page-link" href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li>
                            <a class="page-link" href="?{% url_replace request 'page' page_obj.next_page_number %}">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </main>
    </div>
{% endblock %}
