{% extends "../base/base.html" %}
{% block title %}
    {{ post.title }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1>{{ post.title }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col post-text">
                    {{ post.content|safe }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Author: <span class="author">{{ post.author }}</span>
                </div>
                <div class="col">
                    Published: {{ post.post_date }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    tags: {% for tag in post.tags.all %} <b> {{ tag }} &nbsp; &nbsp; </b> {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    last updated: {{ post.last_update }}
                </div>
            </div>
            <div class="row">
                {% if perms.content.delete_post or post.author == user %}
                    <div class="col-1">
                        <form method="post" action="{% url 'delete_post' post_id=post.id %}"
                              onsubmit="return confirm('Are you sure you want to delete the post?')">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </div>
                {% endif %}

                {% if perms.content.change_post or post.author == user %}
                    <div class="col-1">
                        <a class="btn btn-sm btn-warning" href="{% url 'edit_post' post_id=post.id %}">Edit</a>
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <br>
                    <h4>Comments</h4>
                    <hr>
                </div>
            </div>
            {% for comment in post.comment_set.all %}
                <div class="row">
                    <div class="col comment">
                        <span class="comment-text">{{ comment.content|safe }}</span>
                        <br>
                        <span class="author">
                            {% if comment.author %}
                                {{ comment.author }}
                            {% else %}
                                <em>Anonymous</em>
                            {% endif %}
                        </span>, {{ comment.published }}
                        <br>
                        {% if perms.content.change_comment or comment.author == user %}
                            <a class="btn btn-sm btn-warning"
                               href="{% url 'edit_comment' post_id=post.id comment_id=comment.id %}">Edit</a>
                        {% endif %}

                        {% if perms.content.delete_comment or comment.author == user %}
                            <form method="post" style="display: inline-block;"
                                  action="{% url 'delete_comment' post_id=post.id comment_id=comment.id %}"
                                  onsubmit="return confirm('Are you sure you want to delete the comment?')">
                                {% csrf_token %}
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        {% endif %}
                        <br>
                        <br>
                    </div>
                </div>
            {% endfor %}
            <a class="btn btn-sm btn-link"
               href="{% url 'new_comment' post_id=post.id %}">New comment</a>
        </div>
    </div>
    <hr>
{% endblock %}