AnyQt==0.0.10
certifi==2018.11.29
chardet==3.0.4
confapp==1.0.1
cycler==0.10.0
dill==0.2.8.2
Django==2.1.4
django-bootstrap4==0.0.7
django-jfu-pyforms==2.0.9.1
filelock==3.0.10
idna==2.8
kiwisolver==1.0.1
logging-bootstrap==1.0.0
matplotlib==3.0.2
mysql-connector-python==8.0.12
numpy==1.15.4
opencv-python==3.4.4.19
Orquestra==1.1
Pillow==5.3.0
protobuf==3.6.1
PyForms==4.0.3
PyForms-GUI==4.0.11
PyForms-Terminal==4.0.5
PyForms-Web==4.0.7
PyOpenGL==3.1.0
pyparsing==2.3.0
PyQt5==5.11.3
PyQt5-sip==4.19.13
pyreadline==2.1
python-dateutil==2.7.5
pytz==2018.7
QScintilla==2.10.8
requests==2.21.0
simplejson==3.16.0
six==1.12.0
sorl-thumbnail==12.5.0
urllib3==1.24.1
virtualenv==16.1.0
visvis==1.11.1
